<h1>Your Salon Portal</h1>
<h5>Click on a stylist or client to view/edit their details</h5>
<hr>
<div class = "row">
  <div class = col-md-5>
   <form action = "/stylists/new" method = "post">
    <button type = "submit" id = "add_stylist">Add stylist</button>
    <input type = "text" id = "stylist_name" name = "stylist_name"
   </form>
  </div>

  <div class = "col-md-5">
    <form action = "/clients/new" method = "post">
      <button type = "submit" id = "add_client">Add client</button>
      <input type = "text" id = "client_name" name = "client_name">
    </form>
  </div>
</div>
<p>
<div class = "row">
  <div class = "col-md-5">
    <table class = "table">
      <tr><th>Stylists</th><th>Status</th></tr>
      <% @stylists.each do |stylist| %>
        <tr>
          <td><a href = "/stylists/<%= stylist.id %>"><%= stylist.name %></a></td>
          <td><%= stylist.status %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class = "col-md-5">
    <table class = "table">
      <tr><th>Clients</th><th>Status</th></tr>
      <%= @clients.each do |client| %>
        <tr>
          <td><a href = "/clients/<%= client.id %>"><%= client.name %></a></td>
          <td><%= client.status %></td>
        </tr>
      <% end %>
    </table>
  </div>        
